<!-- Link the CSS stylesheet for the footer -->
<link rel="stylesheet" href="/css/footer.css">

<!-- Footer UI -->
<div class="card footer">
    <div class="card-body">
        <strong>&#169;</strong> Forever Learning Full Stack Dev
        <footer>
            <cite>&#8213;@Karthik Raju M L</cite>
        </footer>
    </div>
</div>
